body {
        margin: 0px;
        overflow:hidden;
}
.contacontaineriner {
        overflow:hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.tabOne-enter {
    opacity: 1;
    transform:   translate(100%,0);
    /*transform: translate3d(-250px,0,0);*/
}
.tabOne-enter.tabOne-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.tabOne-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
        transition-property: transform, opacity;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.tabOne-leave.tabOne-leave-active {
	opacity: 1;
	/*transform:   translate(450px,0);
	transform: translate3d(450px,0,0);*/
	transform:   translate(-100%,0px);
}

.tabTwo-enter {
    opacity: 1;
    transform:   translate(-100%,0);
    /*transform: translate3d(-250px,0,0);*/
}
.tabTwo-enter.tabTwo-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.tabTwo-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
        transition-property: transform, opacity;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.tabTwo-leave.tabTwo-leave-active {
	opacity: 1;

	/*transform:   translate(450px,0);
	transform: translate3d(450px,0,0);*/
	transform:   translate(100%,0px);
}

